@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);@charset "UTF-8";

.button-car--back {
  margin-top: 30px;
  border: 1px solid black;
  background: transparent;
  border-radius: 0;
  padding: 10px 15px;
  color: #000 !important;
  text-decoration: none !important;
}

:root {
  --fixed-top: 61px;
  --admin-bar-height: 0px;
  --car-gutter: 30px;
}

@media all and (max-width: 768px) {
  :root {
    --car-gutter: 15px;
  }
}

body.admin-bar {
  --fixed-top: 93px;
  --admin-bar-height: 32px;
}

.post-type-archive-bil #Subheader {
  display: none;
}

.cars {
  margin-top: 30px;
}

.cars .car-row,
.car .car-row {
  display: flex;
  flex-flow: row wrap;
}

.cars .car-row .car-col-6,
.car .car-row .car-col-6 {
  width: 49.9%;
}

.cars .car-row .car-col-3,
.car .car-row .car-col-3 {
  width: calc((100% / 12) * 3);
  padding: 15px;
}

.cars .car-row .car-col-4,
.car .car-row .car-col-4 {
  width: calc((100% / 12) * 4);
}

.cars .car-row .car-col-9,
.car .car-row .car-col-9 {
  padding: 15px;
  width: calc((100% / 12) * 9);
}

.cars .car-row .car-col-12,
.car .car-row .car-col-12 {
  width: 100%;
}

.cars .car-sorting,
.car .car-sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4rem;
  margin-bottom: 25px;
}

.cars .car-sorting span,
.car .car-sorting span {
  color: #00b4ef;
  font-weight: bold;
}

.cars .car-sorting #sort_by,
.car .car-sorting #sort_by {
  height: 40px;
  padding: 0 10px;
  margin-bottom: 0;
}

.cars .car-sorting--sort_by,
.cars .car-sorting--summary,
.cars .car-sorting--grid-toggle,
.car .car-sorting--sort_by,
.car .car-sorting--summary,
.car .car-sorting--grid-toggle {
  text-align: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.cars .car-sorting--sort_by,
.car .car-sorting--sort_by {
  text-align: left;
}

.cars .car-sorting--sort_by label,
.car .car-sorting--sort_by label {
  display: none;
}

@media all and (max-width: 768px) {
  .cars .car-sorting--sort_by,
  .car .car-sorting--sort_by {
    order: 2;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .cars .car-sorting--sort_by label,
  .car .car-sorting--sort_by label {
    display: block;
    text-align: left;
    font-weight: normal;
  }
}

.cars .car-sorting--summary,
.car .car-sorting--summary {
  text-align: center;
  justify-content: center;
}

.cars .car-sorting--summary span:first-child,
.car .car-sorting--summary span:first-child {
  margin-right: 0.5rem;
  display: inline-block;
}

.cars .car-sorting--summary span:last-child,
.car .car-sorting--summary span:last-child {
  color: #444444;
}

@media all and (max-width: 768px) {
  .cars .car-sorting--summary,
  .car .car-sorting--summary {
    order: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .cars .car-sorting--summary span:first-child,
  .car .car-sorting--summary span:first-child {
    font-size: 3.6rem;
    font-weight: bold;
  }

  .cars .car-sorting--summary span:last-child,
  .car .car-sorting--summary span:last-child {
    font-size: 2.4rem;
    font-weight: normal;
  }
}

.cars .car-sorting--grid-toggle,
.car .car-sorting--grid-toggle {
  order: 3;
}

@media all and (max-width: 768px) {
  .cars .car-sorting--grid-toggle,
  .car .car-sorting--grid-toggle {
    display: none;
  }
}

.cars .car-list,
.car .car-list {
  display: flex;
}

.cars .car-list .car,
.car .car-list .car {
  background: #fff;
  border: 1px solid #eeeeee;
  transition: 0.3s ease-in-out;
  display: flex;
  width: 100%;
  margin-bottom: 2.5rem;
}

@media all and (max-width: 768px) {
  .cars .car-list .car,
  .car .car-list .car {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

@media all and (max-width: 667px) {
  .cars .car-list .car,
  .car .car-list .car {
    display: flex;
    flex-direction: column;
  }
}

.cars .car-list .car .img-wrap,
.car .car-list .car .img-wrap {
  height: 100%;
  width: auto;
  max-width: 330px;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
}

@media all and (max-width: 768px) {
  .cars .car-list .car .img-wrap,
  .car .car-list .car .img-wrap {
    height: unset;
    width: 100%;
    max-width: unset;
  }
}

.cars .car-list .car .img-wrap img,
.car .car-list .car .img-wrap img {
  transition: 0.3s ease-in-out;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  width: 100%;
  background-position: center center;
}

.cars .car-list .car .car--info,
.car .car-list .car .car--info {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.cars .car-list .car .car--info__title,
.car .car-list .car .car--info__title {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #444444;
  width: 100%;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

@media all and (max-width: 768px) {
  .cars .car-list .car .car--info__title,
  .car .car-list .car .car--info__title {
    text-align: center;
  }
}

.cars .car-list .car .car--info--content,
.car .car-list .car .car--info--content {
  display: flex;
  width: 100%;
}

@media all and (max-width: 768px) {
  .cars .car-list .car .car--info--content,
  .car .car-list .car .car--info--content {
    flex-direction: column;
  }
}

.cars .car-list .car .car--info--content__specs,
.car .car-list .car .car--info--content__specs {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

@media all and (max-width: 768px) {
  .cars .car-list .car .car--info--content__specs,
  .car .car-list .car .car--info--content__specs {
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
  }
}

.cars .car-list .car .car--info--content__specs dl,
.car .car-list .car .car--info--content__specs dl {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
}

.cars .car-list .car .car--info--content__specs dl dt,
.cars .car-list .car .car--info--content__specs dl dd,
.car .car-list .car .car--info--content__specs dl dt,
.car .car-list .car .car--info--content__specs dl dd {
  padding-bottom: 0;
}

.cars .car-list .car .car--info--content__specs dl dt,
.car .car-list .car .car--info--content__specs dl dt {
  font-weight: normal;
}

.cars .car-list .car .car--info--content__specs dl dd,
.car .car-list .car .car--info--content__specs dl dd {
  font-weight: bold;
}

.cars .car-list .car .car--info--content__price,
.car .car-list .car .car--info--content__price {
  width: 25%;
  flex-shrink: 0;
  flex-grow: 0;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: column;
}

@media all and (max-width: 768px) {
  .cars .car-list .car .car--info--content__price,
  .car .car-list .car .car--info--content__price {
    width: 100%;
    margin-top: 2rem;
    align-items: center;
    font-size: 2.4rem;
  }
}

.cars .car-list .car .car--info--content__price .leasing,
.car .car-list .car .car--info--content__price .leasing {
  opacity: 0.5;
}

@media all and (max-width: 768px) {
  .cars .car-list .car .car--info--content__price .leasing,
  .car .car-list .car .car--info--content__price .leasing {
    font-size: 1.8rem;
  }
}

.cars .thumbs-wrap,
.car .thumbs-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.cars .thumbs-wrap .item-thumb,
.car .thumbs-wrap .item-thumb {
  transition: all 0.3s ease-in-out;
}

.cars .thumbs-wrap .item-thumb:hover,
.car .thumbs-wrap .item-thumb:hover {
  cursor: pointer;
  opacity: 0.5;
}

.cars .content-body,
.car .content-body {
  padding: 0 30px;
}

.cars .nav-tabs,
.car .nav-tabs {
  margin-top: 30px;
  margin-left: 0;
}

.cars .tab-content,
.car .tab-content {
  background-color: #fff;
  border-left: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.cars dl dt,
.cars dl dd,
.car dl dt,
.car dl dd {
  padding: 5px 0;
  margin: 0 !important;
}

/** Single view */

.outer-wrapper {
  position: relative;
}

.single-bil .cta a {
  border: 0;
  background-color: #00b4ef;
  width: calc(100% - 30px);
  margin-bottom: 10px;
  font-weight: bold;
}

.single-bil .cta a .text-cta {
  color: #fff;
  display: inline-block;
  transition: all 0.3s;
}

.single-bil .cta a .text-value {
  color: #fff;
  text-align: center;
  width: 100%;
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.single-bil .cta a.active .text-cta {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.single-bil .cta a.active .text-value {
  opacity: 1;
  visibility: visible;
  display: inline-block;
}

.single-bil .card {
  border-radius: 0;
  padding: var(--car-gutter);
  margin-bottom: var(--car-gutter);
  background: #fff;
  border: 1px solid #eeeeee;
}

.single-bil .card h3 {
  font-weight: bold;
}

.single-bil .card-header {
  background: #c5c5c5;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 2rem;
  border-bottom: 0;
  color: white;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
}

.single-bil #Subheader {
  display: none;
}

.single-bil #Top_bar {
  transition: all 0.3s ease-in-out;
}

.single-bil #Top_bar.is-sticky {
  background-color: white !important;
  opacity: 1 !important;
}

.single-bil--header {
  background-color: #c7eaf5;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  transition: all 0.4s ease-in-out;
  top: 0;
  z-index: 700;
}

.single-bil--header .container {
  display: flex;
}

@media all and (max-width: 768px) {
  .single-bil--header .container {
    flex-direction: column;
  }
}

@media all and (max-width: 667px) {
  .single-bil--header .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    max-width: calc(100% - 30px) !important;
  }
}

.single-bil--header .container .header-right,
.single-bil--header .container .header--left {
  flex-shrink: 0;
  width: 50%;
}

@media all and (max-width: 667px) {
  .single-bil--header .container .header-right,
  .single-bil--header .container .header--left {
    width: 100%;
  }
}

.single-bil--header .container .header--left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media all and (max-width: 768px) {
  .single-bil--header .container .header--left {
    padding: 15px 0;
  }
}

.single-bil--header .container .header--left h3,
.single-bil--header .container .header--left p {
  margin-bottom: 0;
}

.single-bil--header .container .header--left h3 {
  font-weight: bold;
}

.single-bil--header .container .header--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

@media all and (max-width: 667px) {
  .single-bil--header .container .header--right {
    flex-direction: column;
  }
}

@media all and (max-width: 667px) {
  .single-bil--header .container .header--right {
    flex-direction: row;
    justify-content: space-between;
  }
}

.single-bil--header .container .header--right .btn {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 0;
  border: 0;
  background-color: #00b4ef;
  font-weight: bold;
}

@media all and (max-width: 768px) {
  .single-bil--header .container .header--right .btn:first-child {
    margin-left: 0;
  }
}

@media all and (max-width: 667px) {
  .single-bil--header .container .header--right .btn {
    margin: 0;
    margin-bottom: 10px;
    font-size: 11px;
    margin-right: 10px;
  }

  .single-bil--header .container .header--right .btn:last-child {
    margin-right: 0;
  }
}

.single-bil--header.fixed-header {
  position: fixed;
  top: var(--fixed-top);
  left: 0;
  width: 100%;
  z-index: 700;
}

@media all and (max-width: 768px) {
  .single-bil--header.fixed-header {
    top: 0;
  }
}

@media all and (max-width: 1024px) and (orientation: landscape) {
  .single-bil--header.fixed-header {
    top: 32px;
  }
}

.single-bil--content {
  display: flex;
  padding: var(--car-gutter) 0;
}

.single-bil--content h4 {
  font-weight: bold;
  font-size: 18px;
}

@media all and (max-width: 667px) {
  .single-bil--content {
    display: block;
  }
}

.single-bil--content .quick-specs {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}

@media all and (max-width: 768px) {
  .single-bil--content .quick-specs {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }
}

.single-bil--content .quick-specs dl {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
}

.single-bil--content .quick-specs dl dt,
.single-bil--content .quick-specs dl dd {
  padding-bottom: 0;
}

.single-bil--content .quick-specs dl dt {
  font-weight: normal;
  width: 100%;
}

.single-bil--content .quick-specs dl dd {
  font-weight: bold;
  margin-left: 0;
}

.single-bil--content .content--col-1 {
  width: 60%;
  padding-right: 15px;
  /* the slides */
  /* the parent */
}

@media all and (max-width: 667px) {
  .single-bil--content .content--col-1 {
    width: 100%;
    padding-right: 0;
  }
}

.single-bil--content .content--col-1 .slick-slide {
  margin: 0 10px;
}

.single-bil--content .content--col-1 .slick-list {
  margin: 0 -10px;
}

@media all and (max-width: 576px) {
  .single-bil--content .content--col-1 .slick-slider {
    margin-bottom: 65px;
  }
}

.single-bil--content .content--col-1 .slick-slider .slick-next,
.single-bil--content .content--col-1 .slick-slider .slick-prev {
  position: absolute;
  left: 0;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #00b4ef;
  background-color: white;
  color: #00b4ef;
  border-radius: 25px;
  width: 45px !important;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 0 !important;
}

@media all and (max-width: 576px) {
  .single-bil--content .content--col-1 .slick-slider .slick-next,
  .single-bil--content .content--col-1 .slick-slider .slick-prev {
    transform: translateY(calc(100% + 9px));
    bottom: 0;
    top: unset;
  }
}

.single-bil--content .content--col-1 .slick-slider .slick-next {
  right: 0;
  left: unset;
}

@media all and (max-width: 576px) {
  .single-bil--content .content--col-1 .slick-slider .slick-prev {
    left: 50px;
  }

  .single-bil--content .content--col-1 .slick-slider .slick-next {
    right: 50px;
  }
}

.single-bil--content .content--col-1 .pagingInfo {
  display: none;
}

@media all and (max-width: 576px) {
  .single-bil--content .content--col-1 .pagingInfo {
    display: flex;
    justify-content: center;
    transform: translateY(-45px);
    height: 1px;
    color: #00b4ef;
    font-size: 1.2rem;
  }
}

.single-bil--content .content--col-1 .thumb-slider {
  margin-top: var(--car-gutter);
  margin-bottom: var(--car-gutter);
}

@media all and (max-width: 768px) {
  .single-bil--content .content--col-1 .thumb-slider {
    display: none;
  }
}

.single-bil--content .content--col-1 .thumb-slider .slick-list:after,
.single-bil--content .content--col-1 .thumb-slider .slick-list:before {
  background-image: linear-gradient(to left, rgba(255, 0, 0, 0) 0%, white 60%);
  height: 100%;
  width: 60px;
  position: absolute;
  content: "";
  left: 0;
  z-index: 999;
  top: 0;
}

.single-bil--content .content--col-1 .thumb-slider .slick-list:after {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0) 0%, white 60%);
  right: 0;
  left: unset;
}

.single-bil--content .content--col-1 .thumb-slider .slick-list img {
  cursor: pointer;
}

.single-bil--content .content--col-1 .quick-specs {
  grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
}

@media all and (max-width: 768px) {
  .single-bil--content .content--col-1 .quick-specs {
    grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
  }
}

.single-bil--content .content--col-2 {
  width: 40%;
  padding-left: 15px;
}

@media all and (max-width: 667px) {
  .single-bil--content .content--col-2 {
    width: 100%;
    padding-left: 0;
  }
}

.single-bil--content .content--col-2 h1 {
  font-weight: bold;
  line-height: 35px;
}

.single-bil--content .content--col-2 .price {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 768px) {
  .single-bil--content .content--col-2 .price {
    flex-direction: column;
  }
}

.single-bil--content .content--col-2 .price--label {
  font-weight: bold;
  font-size: 16px;
}

@media all and (max-width: 768px) {
  .single-bil--content .content--col-2 .price--label {
    margin-bottom: 0;
  }
}

.single-bil--content .content--col-2 .price--value {
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0px;
}

.single-bil--content .content--col-2 .santander {
  background: #ed1817;
  padding: var(--car-gutter);
  display: flex;
  text-align: center;
  justify-content: center;
}

.single-bil--content .content--col-2 .santander--content {
  color: #ffffff !important;
}

.single-bil--content .content--col-2 .santander--content h4 {
  color: #ffffff !important;
}

.single-bil--content .content--col-2 .santander--content ul {
  margin-bottom: 15px;
}

.single-bil--content .content--col-2 .santander--content button {
  background-color: #ffffff;
  color: #ed1817;
  font-weight: bold;
}

.single-bil--content .content--col-2 .santander #scbdkdealerexternalcalc.calculator {
  width: 100% !important;
}

.single-bil--content .content--col-2 .santander #scbdkdealerexternalcalc .calcRow .unitValuta {
  width: 15px !important;
}

.update-filters {
  background-color: #00b4ef;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: display 0.1s ease-in-out, opacity 0.4s ease-in-out;
}

@media all and (min-width: 1024px) {
  .update-filters {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.update-filters.fixed {
  display: block;
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: var(--fixed-top);
  left: 0;
  width: 100%;
  z-index: 700;
}

@media all and (max-width: 768px) {
  .update-filters.fixed {
    top: 0;
  }
}

@media all and (max-width: 1024px) and (orientation: landscape) {
  .update-filters.fixed {
    top: 32px;
  }
}

.update-filters a {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
}

.update-filters a:hover {
  color: #ffffff;
}

.car-filters {
  padding: 30px 0;
  background: #c7eaf5;
  transition: opacity 0.3s ease-in-out, display 0.2s ease-in-out;
}

.car-filters select,
.car-filters input {
  background: white !important;
  border: 0 !important;
  color: #444444 !important;
  box-shadow: none !important;
  text-align: left;
  border-radius: 5px;
}

@media all and (max-width: 1024px) {
  .car-filters {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@media all and (max-width: 667px) {
  .car-filters .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    max-width: calc(100% - 30px) !important;
  }
}

.car-filters.show {
  display: block;
  opacity: 1;
  visibility: visible;
}

.car-filters label.free-search-label {
  position: relative;
  width: 100%;
}

.car-filters label.free-search-label .free-search {
  width: 100%;
  margin-bottom: 15px;
  color: #444444;
  position: relative;
  font-weight: normal;
  border-radius: 5px;
}

.car-filters label.free-search-label:after {
  display: flex;
  content: "\F002";
  height: 45px;
  width: 45px;
  align-items: center;
  justify-content: center;
  font-family: "FontAwesome";
  right: 0;
  top: 0;
  position: absolute;
  color: #00b4ef;
}

.car-filters .attributes {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
}

@media all and (max-width: 667px) {
  .car-filters .attributes {
    grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
  }
}

.car-filters .attributes label {
  margin-bottom: 0;
  height: 45px;
}

.car-filters .attributes label select {
  width: 100%;
  margin-bottom: 0;
  height: 45px;
  font-weight: normal;
}

.car-filters .attributes .btn-group button {
  background: white;
  border: 0;
  border-radius: 5px;
  color: #444444;
  box-shadow: none;
  text-align: left;
  font-weight: normal;
}

.car-filters .attributes .btn-group button .multiselect-selected-text {
  padding-left: 10px;
}

.car-filters .attributes .btn-group button .multiselect-selected-text:before {
  display: flex;
  position: absolute;
  right: 0;
  height: 45px;
  width: 45px;
  top: 0;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  content: "\F078";
  font-family: "FontAwesome";
}

.car-filters .attributes button.filter {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.car-active-filters {
  background: #c7eaf5;
}

.active-filters {
  padding-top: 20px;
  padding-bottom: 20px;
}

.active-filters a {
  font-size: 1.1rem;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #444444;
}

.active-filters a i {
  color: #00b4ef;
}

.active-filters a.remove-filter {
  background-color: #ffffff;
}

.active-filters a.btn-primary {
  background-color: #00b4ef;
  border-color: #00b4ef;
}

.active-filters a.btn-primary:hover {
  background-color: #008ebc;
  border-color: #008ebc;
}

/** Slider stuff */

.slider.slider-horizontal {
  width: 100% !important;
  margin-top: -4px;
}

.slider .slider-selection {
  background-image: linear-gradient(to bottom, #00b4ef, #00b4ef);
}

.pricing-container {
  background: #ffffff;
  color: #444444;
  height: 45px;
  padding: 0 20px;
  border-radius: 5px;
}

.pricing-container div:first-child {
  display: flex;
  justify-content: space-between;
}

.pricing-container div:first-child > span {
  width: 33%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
}

.pricing-container div:first-child > span:first-child {
  text-align: left;
  font-size: 12px;
}

.pricing-container div:first-child > span:last-child {
  text-align: right;
  font-size: 12px;
}

/** Multiselect Bootstrap stuff */

body .dropdown-menu {
  border-radius: 0;
  min-width: calc(100% - 40px);
  border: 0;
}

body .multiselect-native-select {
  position: relative;
}

body .multiselect-native-select select {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px -1px -1px -3px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  left: 50%;
  top: 30px;
}

body .multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body .multiselect-container .input-group {
  margin: 5px;
}

body .multiselect-container li {
  padding: 0;
}

body .multiselect-container li .multiselect-all label {
  font-weight: 700;
}

body .multiselect-container li a {
  padding: 0;
}

body .multiselect-container li a label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: 400;
  padding: 3px 20px 3px 40px;
}

body .multiselect-container li a label input[type=checkbox] {
  margin-bottom: 5px;
}

body .multiselect-container li a label.radio {
  margin: 0;
}

body .multiselect-container li a label.checkbox {
  margin: 0;
}

body .multiselect-container li.multiselect-group label {
  margin: 0;
  padding: 3px 20px 3px 20px;
  height: 100%;
  font-weight: 700;
}

body .multiselect-container li.multiselect-group-clickable label {
  cursor: pointer;
}

body .multiselect-container .dropdown-item {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
  border: 0;
  border-radius: 0;
  background-color: white;
  color: #444444;
}

body .btn-group .btn-group .multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

body .form-inline .multiselect-container label.checkbox {
  padding: 3px 20px 3px 40px;
}

body .form-inline .multiselect-container label.radio {
  padding: 3px 20px 3px 40px;
}

body .form-inline .multiselect-container li a label.checkbox input[type=checkbox] {
  margin-left: -20px;
  margin-right: 0;
}

body .form-inline .multiselect-container li a label.radio input[type=radio] {
  margin-left: -20px;
  margin-right: 0;
}

button.multiselect {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding: 0;
  margin-bottom: 0;
  height: 45px;
}

@media only screen and (max-width: 767px) {
  .single-bil .container,
  .car-col-12 .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
    max-width: calc(100% - 30px) !important;
  }
}

/** Specific for Maulbiler */

#Top_bar .top_bar_left {
  width: 100%;
  display: flex;
}

#Top_bar .menu > li > a span:not(.description) {
  padding: 0 10px !important;
}

