.post-type-archive-bil {
  #Subheader {
    display: none;
  }

  .ca-car-image-container {
    max-height: 16rem !important;
    height: 16rem !important;
  }

}


.cars {
  margin-top: 30px;
}

.cars,
.car {


  .car-row {
    display: flex;
    flex-flow: row wrap;

    .car-col-6 {
      width: 49.9%;
    }

    .car-col-3 {
      width: calc((100% / 12) * 3);
      padding: 15px;
    }

    .car-col-4 {
      width: calc((100% / 12) * 4);
    }

    .car-col-9 {
      padding: 15px;
      width: calc((100% / 12) * 9);
    }

    .car-col-12 {
      width: 100%;
    }

  }


  // Sorting (archive)
  .car-sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 25px;

    span {
      color: #00b4ef;
      font-weight: bold;
    }

    #sort_by {
      height: 40px;
      padding: 0 10px;
      margin-bottom: 0;
      width: 100%;

    }
    &--sort_by {
      position: relative;
      &:after {
        display: flex;
        content: "\f078";
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        font-family: "FontAwesome";
        right: 0;
        top: 0;
        position: absolute;
        color: #00b4ef;
        pointer-events: none;
      }

      /* To remove button from IE11 */
      select::-ms-expand {
        display: none;
      }
      /* To remove from Firefox, Safari and Chrome */
      select {
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
      }
    }

    &--sort_by,
    &--summary,
    &--grid-toggle {
      text-align: center;
      display: flex;
      align-items: center;
      width: 100%;
    }

    &--sort_by {

      text-align: left;
      label {
        display: none;
      }
      @media all and (max-width: 768px) {
        width: 50%;
        order: 2;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        label {
          display: block;
          text-align: left;
          font-weight: normal;
          font-size: 1.2rem;
        }

      }
    }

    &--summary {
      text-align: center;
      justify-content: center;

      span:first-child {
        margin-right: 0.5rem;
        display: inline-block;
      }

      span:last-child {
        color: #444444;
      }

      @media all and (max-width: 768px) {
        order: 1;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        span:first-child {
          font-size: 3.6rem;
          font-weight: bold;
        }
        span:last-child {
          margin-top: 5px;
          font-size: 1.6rem;
          font-weight: 400;
        }

      }

    }

    &--grid-toggle {
      order: 3;
      @media all and (max-width: 768px) {
        display: none;
      }
    }

  }

  // Car list (archive)

  .car-list {
    //display: grid;
    //grid-template-columns: repeat(3, 1fr);
    //grid-gap: 20px;
    display: flex;

    .car {
      background: #fff;
      border: 1px solid #eeeeee;
      transition: 0.3s ease-in-out;
      display: flex;
      width: 100%;
      margin-bottom: 2.5rem;

      @media all and (max-width: 768px) {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

        & > * {
          //max-width: calc(100% - 60px);
        }

      }
      @media all and (max-width: 667px) {
        display: flex;
        flex-direction: column;
      }

      .img-wrap {
        height: 100%;
        width: auto;
        max-width: 330px;
        overflow: hidden;
        display: flex;
        flex-shrink: 0;

        @media all and (max-width: 768px) {
          height: unset;
          width: 100%;
          max-width: unset;
        }

        img {
          transition: 0.3s ease-in-out;
          object-fit: cover;
          object-position: 50% 50%;
          width: 100%;
          background-position: center center;
        }
      }

      .car--info {
        width: 100%;
        padding: 2rem;
        display: flex;
        flex-direction: column;

        &__title {
          font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
          text-decoration: none;
          color: #444444;
          width: 100%;
          font-size: 20px;
          line-height: 30px;
          font-weight: 600;
          letter-spacing: 1px;
          margin-bottom: 1.5rem;

          @media all and (max-width: 768px) {
            text-align: center;
          }

        }

        &--content {
          display: flex;
          width: 100%;

          @media all and (max-width: 768px) {
            flex-direction: column;
          }

          &__specs {
            flex-grow: 1;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));

            @media all and (max-width: 768px) {
              grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
              max-width: 80%;
              width: 100%;
              margin: 0 auto;
            }


            dl {
              display: flex;
              flex-direction: column;
              margin-bottom: 10px;
              font-size: 12px;

              dt, dd {
                padding-bottom: 0;
              }

              dt {
                font-weight: normal;
              }

              dd {
                font-weight: bold;
              }
            }
          }

          &__price {
            width: 25%;
            flex-shrink: 0;
            flex-grow: 0;
            font-size: 16px;
            font-weight: bold;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            flex-direction: column;
            @media all and (max-width: 768px) {
              width: 100%;
              margin-top: 2rem;
              align-items: center;
              font-size: 2.8rem;
            }

            .leasing {
              opacity: 0.5;
              @media all and (max-width: 768px) {
                font-size: 1.5rem;
                margin-top: 5px;
                font-weight: normal;
              }

            }
          }
        }

      }
    }

  }

  // Thumbs
  .thumbs-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

    .item-thumb {
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }

  }

  .content-body {
    padding: 0 30px;
  }

  .nav-tabs {
    margin-top: 30px;
    margin-left: 0;
  }

  .tab-content {
    background-color: #fff;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }

  dl {


    dt,
    dd {
      padding: 5px 0;
      margin: 0 !important;
    }

  }


}
